html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(16rem, 1fr)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(2,min-content);
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url("../images/beauty-img-2.jpg") no-repeat center / cover;
}

.navbar {
  grid-column: 2/10;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  position: fixed;
  width: 100%;
  padding: 1rem; 
}
.first-nav {
  grid-column: 1/6;
  grid-row: 1/2;
}

.first-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin-left: 10rem;
}

.first-nav-link:hover {
  color: #482a04;
}

.first-nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: #ff9800;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 400;
}

.second-nav {
  grid-column: 9/10;
  grid-row: 1/2;
}

.second-nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  margin-right: 10rem;
  text-transform: uppercase;
}

.second-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ff9800;
  transition: all 0.5s;
  font-weight: 400;
}

.second-nav-link:hover {
  color: #482a04;
}

.social-icons{
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
}

.social-icons-list{
  margin-top: 10rem;
  list-style: none;
   height: 40rem;
   width: 8rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.social-icon{
  text-decoration: none;
  font-size: 2rem;
  color: #ff9800;
  transition: transform .3s;
  font-weight: 400;
}

.social-icon:hover{
 transform: rotateZ(360deg);
}
