html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

* {
  margin: 0;
  padding: 0;
}

/* navbar */

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(16rem, 1fr)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: min-content 90vh repeat(2,min-content);
}

.first-nav {
  grid-column: 2/10;
  grid-row: 1/2;
  margin-top: 1.6rem;
  /* position: fixed; */
  width: 100%;

}

.first-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem 0;
  border-top: 0.1rem solid #b0bec5;
  border-bottom: 0.1rem solid #b0bec5;
  /* margin: 0 30rem; */
  
}

.first-nav-list > .first-nav-item + .first-nav-item {
  margin-left: 6rem;
}

.first-nav-list > .first-nav-item:last-child {
  margin-left: auto;
}

.signup-icon{
  margin-right: .5rem;
}

.first-nav-link {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #311b92;
  text-transform: uppercase;
  transition: all 0.5s;
  padding: 0.5rem;
  text-align: center;
  
}

.first-nav-link:hover{
  color: #cddc39;
}

.social-icons {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons-list {
  list-style: none;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
 
}

.social-icon {
  text-decoration: none;
  font-size: 2rem;
  color: #311b92;
  transition: all 0.5s;
}

.social-icon:hover {
  transform: rotateZ(30deg);
  color: #cddc39;
}

/* signup login forms */
.forms {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: none;
}

.forms form {
  width: 50rem;
  padding: 1rem;
}

.forms form input:not(.submit-btn) {
  background-color: #fff;
  padding: 1.2rem;
  margin: 0.3rem 0;
  border: 0.2rem solid #eee;
  box-sizing: border-box;
}

.sl-btn {
  display: flex;
}

.f-btn {
  flex: 0 1 50%;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border: 0.1rem solid #eee;
  border-radius: 0.3rem;
  font-weight: 700;
}

.signup-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form-input-names {
  display: flex;
}

.form-input-names input {
  width: 50%;
}

.submit-btn {
  width: 35%;
  padding: 1rem;
  margin: 0.3rem 0;
  background-color: #0097a7;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.form-input {
  width: 100%;
}

.form-heading {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  font-weight: 700;
}

.login-form {
  display: flex;
}

.login-form input:not(.submit-btn) {
  width: 100%;
}

#show-hide-forms:checked ~ .forms {
  display: block;
}

.login-form {
  display: none;
}

.show-signup-form {
  color: #888;
  background-color: #000;
  pointer-events: none;
}

#show-form:checked ~ .sl-btn .show-login-form {
  color: #888;
  background-color: #000;
  pointer-events: none;
}

#show-form:checked ~ .sl-btn .show-signup-form {
  color: #fff;
  background-color: #000;
  pointer-events: initial;
}

#show-form:checked ~ .signup-form {
  display: none;
}

#show-form:checked ~ .login-form {
  display: block;
}

#show-hide-forms:checked ~ .container {
  pointer-events: none;
  opacity: 0.4;
}

.banner{
  grid-column: 2/10;
  grid-row: 2/3;
  margin-top: 1.3rem;
}

.service-menu-heading{
  grid-column: 2/10;
  grid-row: 3/4;
}

.service-menu-heading h2{
  text-align: center;
  margin-top: .3rem;
  padding: 2rem 0 .8rem 0;
  font-size: 3rem;
  color:#311b92;
  font-weight: bolder;
}

.services{
  grid-column: 2/10;
  grid-row: 4/5;
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-rows: 1fr;
  /* display: flex;
  flex-wrap: wrap; */
}

.service-wrapper{
  background-color: #777;
  margin: .3rem;
  border: .2rem solid transparent;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  border-radius: .8rem;
  box-shadow:5px 5px 10px #444;
}

.services-heading{
  color: #fff;
  padding: .8rem;
  text-align: center;
  order: -2;
  font-size: 1.3rem;
}

/* .service-details{
  background-color: yellowgreen;
  padding: 1rem;
} */

.service-btn{
  padding:1.3rem;
  align-self: center;
  margin: 1rem 0;
  width: 18rem;
  border-radius: .6rem;
  letter-spacing: .1rem;
  font-size: 1.6rem;
  background: linear-gradient(to right,rgba(0,255,0,0.2),rgba(0,255,0,0.8));
  border: .1rem solid #777;
}

.service-wrapper img{
   max-width: 100%;
   max-height:250px;
   object-fit: cover;
   flex: 1;
   order: -1;
}

.price{
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
/* end of signup login forms */
